# Supabase
SUPABASE_URL=https://copfzeukploetctannjz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvcGZ6ZXVrcGxvZXRjdGFubmp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQyNzUyNCwiZXhwIjoyMDg5MDAzNTI0fQ.a_Z5J97sby4FoiI5OeK4TkeM2stvSOASFjqbel6sn-U

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Server
PORT=3001
NODE_ENV=development

# CORS - URL do frontend
FRONTEND_URL=http://localhost:5173

# EmailJS (para envio de emails de confirmação)
EMAILJS_SERVICE=service_ii1iyfx
EMAILJS_CONFIRM_TEMPLATE=template_lv3rmfd
EMAILJS_PUBLIC_KEY=XvjwBC5uhPLAPa70n
